@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 245);
  text-align: center;
}
.main{
  background-color: rgb(218, 218, 247);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(3, 3, 49);
}
.container-img{
  margin: 10px 0;
}
.update-btn{
  background-color: rgb(3, 3, 49);
  color: rgb(217, 217, 243);
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}
h1, h3{
  text-transform: capitalize;
  margin: 10px 0;
}
.update-btn:hover{
  background-color: yellow;
  color: rgb(3, 3, 49);
  font-size: larger;
  font-weight: 600;
  box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.5);
}
span{
  color: brown;
}
.logo{
  text-align: left;
}